*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    overflow:hidden;
    
}
header{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
form{
    display:flex;
    flex-direction: column;
    
}
.container{
    height:400px;
    width:500px;
    background-image: linear-gradient(90deg,rgb(149, 2, 2),rgb(81, 0, 81));
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius:0.3rem;
    padding:1rem 1rem;
    
}
.submit{
    width:10rem;
    margin:1rem;
    background-color: rgb(0, 159, 0);
    color:white;
    border:none;
    border-radius: 0.2rem;
    transition: all 0.3s;
}
.submit:hover{
    background-color: rgb(0, 133, 0);
}
h3{
    margin:1rem 0rem;
}
input{
    padding:0.6rem;
    color:black
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    column-gap:1rem;
    text-align:center;
}
.col{
    border-right:solid 0.4px;
    padding-right:0.3rem;
    padding-top:1rem;
}
.one{
    font-size:0.8rem;
}
.eight{
    border:none;
}

